```{include} ../README.md
```

```{toctree}
:hidden:
:caption: User Guide
:maxdepth: 1

guide/quickstart
```

```{toctree}
:hidden:
:caption: Reference
:maxdepth: 1

api/index
contributing
```

```{toctree}
:hidden:
:caption: Links
:maxdepth: 1

PyPI <https://pypi.org/project/{{ repo_name }}/>
Repository <{{ repository_url }}>
Issues <{{ repository_url }}/issues>
```
